/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$white: #ffffff;
$gray: #f3f4f4;
$blue: #0085ba;
$black: #191e23;

// Gutter
$column-gutter: 60px;
$row-gutter: 40px;
